.sidebar {
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  border-right: 1px solid var(--color-border);
}

.sidebar>a:first-child {
  padding: 0;
}

.sidebar>a>img {
  width: 100%;
  transition: all 0.5s;
}

.sidebar>a>img:hover {
  filter: drop-shadow(0 0 10px var(--color-primary));
}

.sidebar a {
  text-decoration: none;
  color: var(--color-text);
  font: 200 1rem var(--font-body);
  padding: 2rem;
  transition: all 0.5s;
}

.sidebar a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.sidebar a>P {
  display: flex;
  align-items: center;
}

.sidebar a>p>svg {
  margin-right: 0.5rem;
}