.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    position: fixed;
    top: 0%;
    left: 0;
    gap: 1rem;
}

.searchBox>input[type="text"] {
    box-shadow: 4px 4px 0 var(--color-primary);
    background-color: var(--color-surface);
    border: 2px solid var(--color-text);
    color: var(--color-text);
    padding: 1rem 2rem;
    width: 50%;
    outline: 1px solid transparent;
    font: 400 1.2rem var(--font-body);
    box-sizing: border-box;
    height: 60px;
}

.searchBox>input[type="text"]:focus {
    border-color: var(--color-primary);
}

@media screen and (max-width: 600px) {
    .searchBox {
        flex-direction: column;
        padding: 2rem;
    }

    .searchBox>input[type="text"] {
        width: 100%;
        font-size: 1rem;
        height: 50px;
    }
}